
h1 {
    color: green;
}

h2 {
    color: rgb(0, 0, 0);
}

nav ul li {
    color: brown;
}

h3 {
    color: rgb(0, 0, 0);
}

div label {
    color: blueviolet;
}

main section h2 {
    color: green;

}



.mi-caja-index {
    background-color: gray;
    width: 140px;
    border-style: double;
    border-radius: 5px;
}

.mi-caja-index2 {
    background-color: gray;
    width: 175px;
    height: 150px;
    border-style: double;
    border-width: 5px;
    border-radius: 5px;

    padding: 5px;

}
/*
.caja-citas1{

    background-color: gray;
    
    width: 130px;
    height: 100px;
    border-style: double;
    border-width: 5px;
    border-radius: 5px;
}
.span-uno-home{
    color: green;
}
.span-uno-citas{
    color: green;
}
*/

.grid-container {
    display: flex;
    justify-content: space-between; 
}
.columna-izquierda {
    flex: 1; 
    padding: 20px; 
    background-color: beige;
}

.columna-derecha {
    width: 200px; 
    padding: 20px; 
    background-color: #f0f0f0; 
}

.home-completo {
    text-align: center; 
    font-size: 1.5em; 
    margin-top: 20px; 
}
.mensajesfondo{
    background-color: gray;
}
.caja-viaje-mensajes{
    background-color: rgb(255, 255, 255);
    width: 175px;
    height: 150px;
    border-style: double;
    border-width: 5px;
    border-radius: 5px;

    padding: 5px;
}
.conversaciones{
color: yellowgreen;
}


.columna-derecha-citas{
    width: 200px; 
    padding: 20px; 
    background-color: #f0f0f0; 
}
.columna-izquierda-citas{
    width: 100%; 
    padding: 2%; 
    background-color: #f0f0f0ec; 
}
.grid-container-citas{
    display: flex;
    justify-content: space-between; 
}

.perfil{
    color: rgb(0, 0, 0);
}
.mi-caja-adicionales{
    background-color: beige;
    width: 175px;
    height: 150px;
    border-style: double;
    border-width: 5px;
    border-radius: 5px;

    padding: 5px;
}
.tu-info{
    width: 400px;
    height: 100px;
}

.caja-adicionales-perfil{
    background-color: beige;
    width: 350px;
    height: 200px;
    border-style: double;
    border-width: 5px;
    border-radius: 5px;

    padding: 5px;
}
.linea-divisora-index{
    border: 0;
    height: 2px;
    background-color: #333;
    width: 100%;
    margin: 20px auto;
}